body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}
h1 {
  text-align: center;
  color: blue;
}
body {
  background-image: url("air_pollution.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
